<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Karina Costa - Sobre</title>
  <link rel="stylesheet" href="../css/main.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
</head>
<body>
  <header>
    <div class="menu-btn">
      <div class="btn-line"></div>
      <div class="btn-line"></div>
      <div class="btn-line"></div>
    </div>

    <nav class="menu">
      <div class="menu-branding">
        <div class="portrait"></div>
      </div>
      <ul class="menu-nav">
        <li class="nav-item"> <a href="index.html" class="nav-link">Home</a> </li>
        <li class="nav-item current"> <a href="about.html" class="nav-link">Sobre</a> </li>
        <li class="nav-item"> <a href="work.html" class="nav-link">Portfólio</a> </li>
        <li class="nav-item"> <a href="contact.html" class="nav-link">Contato</a> </li>
      </ul>
    </nav>
  </header>

  <main id="about">
    <h1 class="lg-heading"><span class="text-secondary">Sobre</span> Mim</h1>
    <h2 class="sm-heading">Deixe-me apresentar...</h2>
    <div class="about-info">
      <img src="../image/portrait-images/portrait-5.jpeg" alt="Karina Costa" class="bio-image">
      <div class="bio">
        <h3 class="text-secondary">BIOGRAFIA</h3>
        <p class="description-about">
          Meu nome é Karina, tenho 22 anos, estudo Comunicação Social, famoso Jornalismo, 
          na Universidade São Judas Tadeu. <br>Desde pequena sempre me destaquei por ser uma criança comunicativa, 
          mas, foi apenas após meu curso de publicidade e propaganda que me encontrei no mundo intercomunicação. 
          <br>Hoje mergulho de cabeça em projetos de comunicação interna, criação e conteúdo em mídias digitais, 
          além de desenvolver a paixão pela escrita em foco ao texto jornalístico apurador.
        </p>
      </div>
      <div class="job job-1">
        <h3>Formação I</h3>
        <h5>Técnico em Publicidade e Propaganda</h5>
        <p>
          Habilitação Profissional Técnica de Nível Médio em Publicidade, 
          eixo tecnológico Produção Cultural e Design.  
        </p>
      </div>
      <div class="job job-2">
        <h3>Formação II</h3>
        <h5>Assistente de Atendimento e Planejamento Publicitário</h5>
        <p>
          Qualificação Profissional Técnica de Assistente e Atendimento e Planejamento Publicitário.
          Eixo tecnológico em buscas e pesquisas de interface entre a agência e o cliente, 
          elaborando briefing para criação de campanhas publicitárias. 
        </p>
      </div>
      <div class="job job-3">
        <h3>Formação III</h3>
        <h5>Assistente de Mídia</h5>
        <p>
          Qualificação Profissional Técnica de Assistente de Mídia, com ênfase em engajamentos, 
          crescimento com lançamentos em redes sociais, blog, criação gráfica, 
          movimentação do site e acompanhamento de fotos e vídeos em eventos.
        </p>
      </div>
    </div>
  </main>
  <footer id="main-footer">
    • Karina Michele Costa •
  </footer>
  <script src="../javascript/main.js"></script>
</body>
</html>