<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Karina Costa</title>
  <link rel="stylesheet" href="../css/main.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
</head>
<body id="bg-img">
  <header>
    <div class="menu-btn">
      <div class="btn-line"></div>
      <div class="btn-line"></div>
      <div class="btn-line"></div>
    </div>
    <nav class="menu">
      <div class="menu-branding">
        <div class="portrait"></div>
      </div>
      <ul class="menu-nav">
        <li class="nav-item current"> <a href="index.html" class="nav-link">Home</a> </li>
        <li class="nav-item"> <a href="about.html" class="nav-link">Sobre</a> </li>
        <li class="nav-item"> <a href="work.html" class="nav-link">Portfólio</a> </li>
        <li class="nav-item"> <a href="contact.html" class="nav-link">Contato</a> </li>
      </ul>
    </nav>
  </header>

  <main id="home">
    <h1 class="lg-heading"><span class="text-secondary">Karina</span> Michele Costa</h1>
    <h2 class="sm-heading">Jornalista, Social Media, Marketing digital</h2>
    <div class="icons">
      <a href="https://twitter.com/karinaccostta" target="_blank"><img src="../image/icons/twitter.png" alt="Twitter"></a>
      <a href="https://www.facebook.com/k.michele.costa" target="_blank"><img src="../image/icons/facebook.png" alt="Facebook"></a>
      <a href="https://www.instagram.com/akarinacosta_" target="_blank"><img src="../image/icons/instagram.png" alt="Instagram"></a>
      <a href="https://www.linkedin.com/in/karinaccosta" target="_blank"><img src="../image/icons/linkedin.png" alt="Linkedin"></a>
    </div>
  </main>

  <script src="../javascript/main.js"></script>
</body>
</html>