<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Karina Costa - Portifólio</title>
  <link rel="stylesheet" href="../css/main.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
</head>
<body>

  <header>
    <div class="menu-btn">
      <div class="btn-line"></div>
      <div class="btn-line"></div>
      <div class="btn-line"></div>
    </div>

    <nav class="menu">
      <div class="menu-branding">
        <div class="portrait"></div>
      </div>
      <ul class="menu-nav">
        <li class="nav-item"> <a href="index.html" class="nav-link">Home</a> </li>
        <li class="nav-item"> <a href="about.html" class="nav-link">Sobre</a> </li>
        <li class="nav-item current"> <a href="work.html" class="nav-link">Portfólio</a> </li>
        <li class="nav-item"> <a href="contact.html" class="nav-link">Contato</a> </li>
      </ul>
    </nav>
  </header>

  <main id="work">
    <h1 class="lg-heading">Meu <span class="text-secondary">Portfólio</span></h1>
    <h2 class="sm-heading">Confira os meus projetos...</h2>
    <section class="cards">
      <div class="projects">
        <div class="item">
          <a href="#!">
            <img src="../image/project-1.jpg" alt="Project">
          </a>
          <a href="#" class="btn-secondary-color">
            <i class="fas fa-eye"></i>
            Visualizar Projeto
          </a>
        </div>

      </div>
    </section>
  </main>

  <footer id="main-footer">
    • Karina Michele Costa •
  </footer>
  
  <script src="../javascript/main.js"></script>
  <script src="../javascript/projects.js"></script>
</body>
</html>